<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Create Items
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Create Items</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col size="3">
        <ion-card>
          <ion-card-content>
            <ion-select [(ngModel)]="itemType" placeholder="Item Type" label="Item Type" labelPlacement="stacked">
              <ion-select-option *ngFor="let type of itemTypes" [value]="type">{{ type }}</ion-select-option>
            </ion-select>
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-content>
            <ion-input placeholder="Item Name" [(ngModel)]="itemName"></ion-input>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card *ngIf="itemType">
          <ion-card-content>
            <div>
              plug these into chatgpt to get a name:
            </div>

            <br>

            <div>
              give me 10 names for {{ itemType }} items in a fantasy rpg setting
            </div>
            <div>
              give me 10 names for {{ itemType }} items in a fantasy rpg setting that have more than one word
            </div>
            <div>
              give me 10 names for {{ itemType }} items in a fantasy rpg setting and name them after their previous owner
            </div>
            <div>
              give me 10 names for {{ itemType }} items in a fantasy rpg setting that have 3 words in their name
            </div>
            <div>
              give me 10 names for {{ itemType }} items in a fantasy rpg setting that sound plain and boring
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
      </ion-col>
    </ion-row>

    <ion-row *ngFor="let rarity of rarityStats; let i = index">
      <ion-col>
        <ion-card>
          <ion-card-content>
            <ion-row>
              <ion-col class="item">
                <ion-badge [style.background-color]="rarity.color">
                  {{ rarity.name }}
                </ion-badge>

                <span class="name">
                  {{ itemName || '[item name]' }}
                </span>

                <div class="actions">
                  <ion-button (click)="generateItem(i)" fill="outline" size="small">
                    <ion-icon name="repeat" slot="start"></ion-icon>
                    all
                  </ion-button>

                  <ion-button (click)="generateStats(i)" fill="outline" size="small">
                    <ion-icon name="repeat" slot="start"></ion-icon>
                    stats
                  </ion-button>

                  <ion-button (click)="generateElements(i)" fill="outline" size="small">
                    <ion-icon name="repeat" slot="start"></ion-icon>
                    elements
                  </ion-button>

                  <ion-button ngxClipboard fill="outline" size="small" [cbContent]="getTextForItem(i)" color="tertiary">
                    <ion-icon name="copy" slot="start"></ion-icon>
                    copy
                  </ion-button>
                </div>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <ion-chip *ngFor="let item of (items[i].stats || {}) | keyvalue">
                  {{ item.key }}: {{ item.value }}
                </ion-chip>

                <ion-chip *ngFor="let item of (items[i].elements || [])">
                  {{ item }}
                </ion-chip>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
